/*!
 * Start Bootstrap - Scrolling Nav (https://startbootstrap.com/template-overviews/scrolling-nav)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-scrolling-nav/blob/master/LICENSE)
 */

header {
  width: 100%;
  height: 100%;
  padding-top: 35%;
}

section {
  padding: 150px 0;
}
.bg-task{
	background-size: auto 100%;
	background-image: url(../vendor/img/bgt.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}
.bg-about{
	width: 100%;
	height: 100%;
	background-size: auto 100%;
	background-image: url(../vendor/img/bg.jpg);
	background-position: center center;
	background-repeat: no-repeat;
}
input[type=checkbox]{
	margin: 15px 0px 0px 15px;
	width: 20px;
	height: 20px;
    float: left;
    margin: 0.5em 0.5em 0 0
    border: 2px solid #ccc;
    background: #fff;
    border-radius: 100%;
}